@import "tailwindcss";

@theme {
  --font-sans: var(--font-montserrat), sans-serif;
  --font-serif: var(--font-montserrat), sans-serif;
  --color-primary: #632C2F;
  --color-bg-custom: #FFFCFC;
  --color-title: #632C2F;
  --color-subtitle: #686868;
  --color-normal: #1E1E1E;
}

body {
  font-family: var(--font-montserrat), sans-serif;
  color: var(--color-normal);
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation: slideIn 0.3s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 0.25s ease-out forwards;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}